// Colors
$bg_white: #f3f4f6;
$white: #ffffff;
$white_hover: #f9f7f7;

$black: #000000;
$indigo: #026670;
$light_indigo: #00818c;
$purple: #999ac6;
$light_purple: #c2c2dd;
$grey: #7d7a7a;
$light_grey: #d9d9d9;
$grey39: #393939;
$grey93: #939393;
// Breakpoints
$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
