@use "../../variables" as vars;
@use "../../mixins" as mx;

.wrapper {
  position: absolute;
  top: 5em;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: 1px solid vars.$indigo;
  border-radius: 2rem;
  background-color: vars.$white;
  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .fieldsWrapper {
      display: flex;
      gap: 0.5em;
      align-items: center;
      .field {
        display: flex;
        flex-direction: column;
        position: relative;
        input {
          border: 1px solid vars.$grey;
          border-radius: 2rem;
          outline: none;
          padding: 0.5em;
          @include mx.sofia-sans;
          color: vars.$grey;
          max-width: 7em;
        }
        span {
          position: absolute;
          top: -6em;
          padding: 0.3em;
          @include mx.sofia-sans($fz: 1.2rem);
          color: red;
          background-color: vars.$bg_white;
          border: 1px solid vars.$grey;
          border-radius: 2rem;
          text-transform: lowercase;
          text-align: center;
        }
      }
    }
    .buttonsWrapper {
      display: flex;
      flex-direction: row;
      gap: 1em;
      justify-content: center;
      align-items: center;
      button {
        margin: 0;
        background-color: vars.$indigo;
        color: vars.$white;
        border: 1px solid vars.$indigo;
        @include mx.smooth;

        &:disabled {
          background-color: vars.$light_grey;
        }
        &:not(:disabled) {
          &:hover {
            cursor: pointer;
            background-color: vars.$white;
            color: vars.$indigo;
            border: 1px solid vars.$indigo;
          }
        }
      }
      @include mx.p($color: vars.$indigo);
      p {
        cursor: pointer;
        margin: 0.2em;
      }
    }
  }
}

.separator {
  display: flex;
  height: 0.2rem;
  width: 1rem;
  background-color: vars.$grey;
  border-radius: 2px;
}
